{
  "openapi": "3.0.3",
  "info": {
    "title": "Owlery Developer Portal API",
    "description": "The API URL is `https://api.owlery.ai/api/ext/v1`. Access is handled via an API key passed as Bearer Token. Contact `support@owlery.ai` for an API Key. Endpoints are grouped by audience: shipper-facing APIs, carrier-facing APIs, and facility-facing APIs.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.owlery.ai"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "shipper-plan",
      "x-displayName": "Plan",
      "description": "Create transportation plans for one or more orders."
    },
    {
      "name": "shipper-loads",
      "x-displayName": "Loads",
      "description": "Search loads."
    },
    {
      "name": "shipper-documents",
      "x-displayName": "Documents",
      "description": "Search and download documents attached to loads and orders."
    },
    {
      "name": "shipper-items",
      "x-displayName": "Items",
      "description": "Create, update, or delete inventory items."
    },
    {
      "name": "shipper-rate-quote",
      "x-displayName": "Rate Quote",
      "description": "Request freight rate quotes from existing orders or standalone quote data."
    },
    {
      "name": "shipper-tender",
      "x-displayName": "Tender",
      "description": "Tender a specific rate quote response at its quoted price."
    },
    {
      "name": "shipper-webhooks",
      "x-displayName": "Webhooks",
      "description": "Webhooks sent by Owlery when orders, tenders, invoices, or order-level load stop dates are updated."
    },
    {
      "name": "carrier-invoices",
      "x-displayName": "Invoices",
      "description": "Submit invoices directly to Owlery."
    },
    {
      "name": "carrier-loads",
      "x-displayName": "Loads",
      "description": "Create loads in Owlery."
    },
    {
      "name": "carrier-tracking",
      "x-displayName": "Tracking",
      "description": "Push load tracking status updates to Owlery."
    },
    {
      "name": "carrier-rate-quotes",
      "x-displayName": "Rate Quotes",
      "description": "Submit carrier quote responses asynchronously to Owlery."
    },
    {
      "name": "carrier-tender-responses",
      "x-displayName": "Tender Responses",
      "description": "Carrier responses to original tenders and tender edits."
    },
    {
      "name": "carrier-webhooks",
      "x-displayName": "Webhooks",
      "description": "Rate quote, tender, tender edit, and cancel webhooks sent by Owlery to carrier systems. Authentication is provided through carrier-configured request headers, not body fields."
    },
    {
      "name": "facility-orders",
      "x-displayName": "Orders",
      "description": "Confirm one or more orders, updating their status and items."
    }
  ],
  "paths": {
    "/api/ext/v1/plan": {
      "post": {
        "tags": [
          "shipper-plan"
        ],
        "summary": "Create a Plan",
        "description": "This endpoint creates a transportation plan for one or more orders.",
        "operationId": "createPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpsertOrder"
                }
              },
              "example": [
                {
                  "type": "transfer",
                  "isTest": true,
                  "orderNumber": "TEST-123",
                  "source": "NetSuite",
                  "sourceId": "123456",
                  "status": "open",
                  "items": [
                    {
                      "expectedQuantity": 200,
                      "unitOfMeasure": "case",
                      "inventory": {
                        "sku": "A01-COFFEE",
                        "name": "Night Owl Coffee"
                      }
                    }
                  ],
                  "stops": [
                    {
                      "index": 0,
                      "type": "pickup",
                      "facility": {
                        "lookupCode": "INT",
                        "source": "NetSuite",
                        "sourceId": "F100001",
                        "location": {
                          "street": "123 Main Street",
                          "city": "Joliet",
                          "state": "IL",
                          "zipcode": "60436"
                        }
                      },
                      "orderDates": {
                        "startAt": "2023-02-23"
                      },
                      "preventSendOrder": false
                    },
                    {
                      "index": 1,
                      "type": "dropoff",
                      "facility": {
                        "lookupCode": "NJ",
                        "source": "NetSuite",
                        "sourceId": "F100002",
                        "location": {
                          "street": "456 First Ave",
                          "city": "Newfield",
                          "state": "NJ",
                          "zipcode": "08344"
                        }
                      },
                      "orderDates": {
                        "startAt": "2023-02-26"
                      },
                      "preventSendOrder": false
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanOrderResponse"
                },
                "example": {
                  "createdOrders": [
                    {
                      "orderNumber": "TEST-INT20230201NJ"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/orders-updated": {
      "post": {
        "x-webhook": true,
        "tags": [
          "shipper-webhooks"
        ],
        "summary": "Orders Updated",
        "description": "Webhook payload sent when orders are updated. Webhooks are sent when orders are marked as `closed` and no webhook has been sent previously (unless manually re-triggered). Orders reach `closed` status through: (1) Owlery API Order Confirmation via `/api/ext/v1/order/confirm`, (2) EDI Transactions (944/945), or (3) Integration Sync (e.g. WMS).",
        "operationId": "webhookOrdersUpdated",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookOrder"
                }
              },
              "example": [
                {
                  "type": "inbound",
                  "orderNumber": "SO11112",
                  "source": "NetSuite",
                  "sourceId": "123456",
                  "items": [
                    {
                      "sku": "CT-BL",
                      "name": "Coffee table [DEMO]",
                      "expectedQuantity": 50,
                      "actualQuantity": 40,
                      "sourceId": "1234",
                      "details": [
                        {
                          "unitOfMeasure": "case",
                          "actualQuantity": 10,
                          "lotCode": "L123458",
                          "expirationDate": "2022-01-25"
                        },
                        {
                          "unitOfMeasure": "case",
                          "actualQuantity": 30,
                          "lotCode": "L123459",
                          "expirationDate": "2022-01-26"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Orders updated successfully"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/tenders-updated": {
      "post": {
        "x-webhook": true,
        "tags": [
          "shipper-webhooks"
        ],
        "summary": "Tenders Updated",
        "description": "Webhook payload sent when tenders are created, accepted, or BOLs are generated. Tender webhooks are sent when a tender reaches one of the following statuses: BOL Created, Carrier Selected, or Tendered. The `loadNumber` field is optional at this stage: some carriers do not return a load number until the tender is accepted. Before acceptance, Owlery only sends `loadNumber` when a real load number is already available, or when Universal Shipment ID enforcement is enabled for a supported Manual/EDI-style tender and the carrier/source tender identifier is intentionally used as the Owlery load number.",
        "operationId": "webhookTendersUpdated",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TenderWebhookMessage"
                }
              },
              "examples": {
                "singleTender": {
                  "summary": "Single tender",
                  "value": [
                    {
                      "id": "507f1f77bcf86cd799439011",
                      "loadNumber": "LOAD-12345",
                      "referenceNumbers": [
                        {
                          "type": "PO",
                          "value": "PO-12345"
                        },
                        {
                          "type": "BOL",
                          "value": "BOL-67890"
                        }
                      ],
                      "mode": "FTL",
                      "equipmentType": "Reefer",
                      "reeferSettings": {
                        "minTemperature": 34,
                        "maxTemperature": 38,
                        "unit": "F",
                        "sentryMode": "Continuous"
                      },
                      "isTeamRate": false,
                      "isContractRate": true,
                      "isDirectTender": false,
                      "shipmentMode": "Normal",
                      "stops": [
                        {
                          "index": 0,
                          "type": "Pickup",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776758400000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776765600000
                              }
                            },
                            "appointmentDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776762000000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776763800000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Origin Warehouse",
                            "location": {
                              "street": "123 Main St",
                              "city": "Chicago",
                              "state": "IL",
                              "zipcode": "60601",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 1,
                          "type": "Dropoff",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776870000000
                              },
                              "endAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776873600000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Destination DC",
                            "location": {
                              "street": "456 First Ave",
                              "city": "New York",
                              "state": "NY",
                              "zipcode": "10001",
                              "countryCode": "US"
                            }
                          }
                        }
                      ],
                      "orders": [
                        {
                          "orderNumber": "ORD-10001",
                          "pickupStopIndex": 0,
                          "dropOffStopIndex": 1,
                          "pickupSequenceNumber": 0,
                          "dropoffSequenceNumber": 0
                        }
                      ],
                      "price": {
                        "cents": 125000,
                        "currencyCode": "USD"
                      },
                      "lineItems": [
                        {
                          "description": "Line haul",
                          "category": "lineHaul",
                          "total": 100000,
                          "code": "LH001",
                          "unitCount": 1,
                          "unitPrice": 100000
                        },
                        {
                          "description": "Fuel surcharge",
                          "category": "fuelSurcharge",
                          "total": 25000,
                          "code": "FSC"
                        }
                      ],
                      "broker": {
                        "name": "Great Freight LLC",
                        "address": "789 Carrier Blvd, Dallas, TX 75201",
                        "phone": "+12145551234",
                        "email": "dispatch@greatfreight.com",
                        "mcNumber": "MC123456",
                        "dotNumber": "DOT789012",
                        "scac": "GRFT"
                      },
                      "status": "Tendered",
                      "updatedAtInMs": 1776787200000,
                      "updatedBy": "user@example.com"
                    }
                  ]
                },
                "consolidatedTender": {
                  "summary": "Consolidated tender with header-level order mapping",
                  "value": [
                    {
                      "id": "507f1f77bcf86cd799439022",
                      "loadNumber": "LOAD-98765",
                      "referenceNumbers": [
                        {
                          "type": "PO",
                          "value": "PO-12345"
                        },
                        {
                          "type": "BOL",
                          "value": "BOL-67890"
                        }
                      ],
                      "mode": "FTL",
                      "equipmentType": "Reefer",
                      "reeferSettings": {
                        "minTemperature": 34,
                        "maxTemperature": 38,
                        "unit": "F",
                        "sentryMode": "Continuous"
                      },
                      "isTeamRate": false,
                      "isContractRate": true,
                      "isDirectTender": false,
                      "shipmentMode": "Normal",
                      "stops": [
                        {
                          "index": 0,
                          "type": "Pickup",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776758400000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776765600000
                              }
                            },
                            "appointmentDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776762000000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776763800000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Origin Warehouse",
                            "location": {
                              "street": "123 Main St",
                              "city": "Chicago",
                              "state": "IL",
                              "zipcode": "60601",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 1,
                          "type": "Pickup",
                          "orders": [
                            {
                              "orderNumber": "ORD-10002"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776758400000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776765600000
                              }
                            },
                            "appointmentDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776762000000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776763800000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Second Origin Warehouse",
                            "location": {
                              "street": "500 Dock Rd",
                              "city": "Milwaukee",
                              "state": "WI",
                              "zipcode": "53202",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 2,
                          "type": "Dropoff",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776870000000
                              },
                              "endAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776873600000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Destination DC",
                            "location": {
                              "street": "456 First Ave",
                              "city": "New York",
                              "state": "NY",
                              "zipcode": "10001",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 3,
                          "type": "Dropoff",
                          "orders": [
                            {
                              "orderNumber": "ORD-10002"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776870000000
                              },
                              "endAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776873600000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Second Destination DC",
                            "location": {
                              "street": "900 Harbor Ave",
                              "city": "Newark",
                              "state": "NJ",
                              "zipcode": "07114",
                              "countryCode": "US"
                            }
                          }
                        }
                      ],
                      "orders": [
                        {
                          "orderNumber": "ORD-10001",
                          "pickupStopIndex": 0,
                          "dropOffStopIndex": 2,
                          "pickupSequenceNumber": 0,
                          "dropoffSequenceNumber": 0
                        },
                        {
                          "orderNumber": "ORD-10002",
                          "pickupStopIndex": 1,
                          "dropOffStopIndex": 3,
                          "pickupSequenceNumber": 1,
                          "dropoffSequenceNumber": 1
                        }
                      ],
                      "price": {
                        "cents": 125000,
                        "currencyCode": "USD"
                      },
                      "lineItems": [
                        {
                          "description": "Line haul",
                          "category": "lineHaul",
                          "total": 100000,
                          "code": "LH001",
                          "unitCount": 1,
                          "unitPrice": 100000
                        },
                        {
                          "description": "Fuel surcharge",
                          "category": "fuelSurcharge",
                          "total": 25000,
                          "code": "FSC"
                        }
                      ],
                      "broker": {
                        "name": "Great Freight LLC",
                        "address": "789 Carrier Blvd, Dallas, TX 75201",
                        "phone": "+12145551234",
                        "email": "dispatch@greatfreight.com",
                        "mcNumber": "MC123456",
                        "dotNumber": "DOT789012",
                        "scac": "GRFT"
                      },
                      "status": "Tendered",
                      "updatedAtInMs": 1776787200000,
                      "updatedBy": "user@example.com"
                    }
                  ]
                },
                "multiOrderDifferentStopIndexes": {
                  "summary": "Multiple orders with different route and stop-type indexes",
                  "description": "Demonstrates that pickupStopIndex/dropOffStopIndex are route stop indexes, while pickupSequenceNumber/dropoffSequenceNumber are zero-based within pickup or dropoff stops only.",
                  "value": [
                    {
                      "id": "507f1f77bcf86cd799439033",
                      "loadNumber": "LOAD-24680",
                      "referenceNumbers": [
                        {
                          "type": "PO",
                          "value": "PO-MULTI-ORDER"
                        },
                        {
                          "type": "BOL",
                          "value": "BOL-MULTI-ORDER"
                        }
                      ],
                      "mode": "FTL",
                      "equipmentType": "Reefer",
                      "reeferSettings": {
                        "minTemperature": 34,
                        "maxTemperature": 38,
                        "unit": "F",
                        "sentryMode": "Continuous"
                      },
                      "isTeamRate": false,
                      "isContractRate": true,
                      "isDirectTender": false,
                      "shipmentMode": "Normal",
                      "stops": [
                        {
                          "index": 0,
                          "type": "Pickup",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776758400000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776765600000
                              }
                            },
                            "appointmentDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776762000000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776763800000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Order 10001 Pickup",
                            "location": {
                              "street": "123 Main St",
                              "city": "Chicago",
                              "state": "IL",
                              "zipcode": "60601",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 1,
                          "type": "Pickup",
                          "orders": [
                            {
                              "orderNumber": "ORD-10002"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776758400000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776765600000
                              }
                            },
                            "appointmentDates": {
                              "startAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776762000000
                              },
                              "endAt": {
                                "timeZone": "America/Chicago",
                                "isDateOnly": false,
                                "tsInMs": 1776763800000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Order 10002 Pickup",
                            "location": {
                              "street": "500 Dock Rd",
                              "city": "Milwaukee",
                              "state": "WI",
                              "zipcode": "53202",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 2,
                          "type": "Dropoff",
                          "orders": [
                            {
                              "orderNumber": "ORD-10002"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776870000000
                              },
                              "endAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776873600000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Order 10002 Dropoff",
                            "location": {
                              "street": "456 First Ave",
                              "city": "New York",
                              "state": "NY",
                              "zipcode": "10001",
                              "countryCode": "US"
                            }
                          }
                        },
                        {
                          "index": 3,
                          "type": "Dropoff",
                          "orders": [
                            {
                              "orderNumber": "ORD-10001"
                            }
                          ],
                          "items": [
                            {
                              "quantity": {
                                "count": 10,
                                "unit": "Pallet"
                              },
                              "weight": {
                                "value": 1200,
                                "unit": "LB"
                              },
                              "description": "Frozen prepared meals"
                            }
                          ],
                          "dates": {
                            "orderDates": {
                              "startAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776870000000
                              },
                              "endAt": {
                                "timeZone": "America/New_York",
                                "isDateOnly": false,
                                "tsInMs": 1776873600000
                              }
                            }
                          },
                          "facilityProfile": {
                            "name": "Order 10001 Dropoff",
                            "location": {
                              "street": "900 Harbor Ave",
                              "city": "Newark",
                              "state": "NJ",
                              "zipcode": "07114",
                              "countryCode": "US"
                            }
                          }
                        }
                      ],
                      "orders": [
                        {
                          "orderNumber": "ORD-10001",
                          "pickupStopIndex": 0,
                          "dropOffStopIndex": 3,
                          "pickupSequenceNumber": 0,
                          "dropoffSequenceNumber": 1
                        },
                        {
                          "orderNumber": "ORD-10002",
                          "pickupStopIndex": 1,
                          "dropOffStopIndex": 2,
                          "pickupSequenceNumber": 1,
                          "dropoffSequenceNumber": 0
                        }
                      ],
                      "price": {
                        "cents": 125000,
                        "currencyCode": "USD"
                      },
                      "lineItems": [
                        {
                          "description": "Line haul",
                          "category": "lineHaul",
                          "total": 100000,
                          "code": "LH001",
                          "unitCount": 1,
                          "unitPrice": 100000
                        },
                        {
                          "description": "Fuel surcharge",
                          "category": "fuelSurcharge",
                          "total": 25000,
                          "code": "FSC"
                        }
                      ],
                      "broker": {
                        "name": "Great Freight LLC",
                        "address": "789 Carrier Blvd, Dallas, TX 75201",
                        "phone": "+12145551234",
                        "email": "dispatch@greatfreight.com",
                        "mcNumber": "MC123456",
                        "dotNumber": "DOT789012",
                        "scac": "GRFT"
                      },
                      "status": "Tendered",
                      "updatedAtInMs": 1776787200000,
                      "updatedBy": "user@example.com"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Tenders processed successfully"
                }
              }
            }
          },
          "400": {
            "description": "Receiver rejected the webhook as invalid. Owlery logs the failed delivery and does not mark that payload as sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "invalidPayload": {
                    "summary": "Invalid payload",
                    "value": {
                      "error": "Bad Request",
                      "message": "Missing required field: id",
                      "details": [
                        "id is required"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Receiver rejected the webhook because custom authentication headers were missing or invalid. Owlery logs the failed delivery and does not mark that payload as sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid webhook signature or API key"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Receiver failed while processing the webhook. Owlery logs the failed delivery and does not mark that payload as sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "receiverError": {
                    "summary": "Receiver error",
                    "value": {
                      "error": "Internal Server Error",
                      "message": "Unable to process tender webhook"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/order-load-stop-dates-updated": {
      "post": {
        "x-webhook": true,
        "tags": [
          "shipper-webhooks"
        ],
        "summary": "Order Load Stop Dates Updated",
        "description": "Webhook payload sent when a tendered order's related load stop estimated, appointment, or actual dates are first populated or later changed. This includes the initial tender when those load dates first become available. The payload is order-based: each stop `index` is zero-based within the order itself, not within the underlying load, so the index is `0` for pickup and `1` for dropoff even when the load is consolidated across more stops. Owlery only sends this webhook for orders it tendered, because Owlery must have the order-to-load stop mapping from the tender/BOL flow.",
        "operationId": "webhookOrderLoadStopDatesUpdated",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderLoadStopDatesUpdatedWebhook"
                }
              },
              "examples": {
                "singleOrder": {
                  "summary": "Single order on a load",
                  "value": [
                    {
                      "orderNumber": "SO-10001",
                      "loadNumber": "LOAD-12345",
                      "source": "NetSuite",
                      "sourceId": "123456",
                      "stops": [
                        {
                          "index": 0,
                          "stopType": "pickup",
                          "orderDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T08:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T10:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          },
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T08:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T10:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          },
                          "appointmentDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T09:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T09:30:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          }
                        },
                        {
                          "index": 1,
                          "stopType": "dropoff",
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-22T15:00:00.000Z",
                              "timeZone": "America/New_York",
                              "isDateOnly": false
                            }
                          },
                          "actualDates": {
                            "startAt": {
                              "dateTime": "2026-04-22T15:12:00.000Z",
                              "timeZone": "America/New_York",
                              "isDateOnly": false
                            }
                          }
                        }
                      ]
                    }
                  ]
                },
                "consolidatedLoad": {
                  "summary": "Multiple orders on one load",
                  "value": [
                    {
                      "orderNumber": "SO-10001",
                      "loadNumber": "LOAD-12345",
                      "source": "NetSuite",
                      "sourceId": "123456",
                      "stops": [
                        {
                          "index": 0,
                          "stopType": "pickup",
                          "orderDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T08:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T10:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          },
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T08:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T10:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          },
                          "appointmentDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T09:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            },
                            "endAt": {
                              "dateTime": "2026-04-21T09:30:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          }
                        },
                        {
                          "index": 1,
                          "stopType": "dropoff",
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-22T15:00:00.000Z",
                              "timeZone": "America/New_York",
                              "isDateOnly": false
                            }
                          },
                          "actualDates": {
                            "startAt": {
                              "dateTime": "2026-04-22T15:12:00.000Z",
                              "timeZone": "America/New_York",
                              "isDateOnly": false
                            }
                          }
                        }
                      ]
                    },
                    {
                      "orderNumber": "SO-10002",
                      "loadNumber": "LOAD-12345",
                      "source": "NetSuite",
                      "sourceId": "789012",
                      "stops": [
                        {
                          "index": 0,
                          "stopType": "pickup",
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-21T11:00:00.000Z",
                              "timeZone": "America/Chicago",
                              "isDateOnly": false
                            }
                          }
                        },
                        {
                          "index": 1,
                          "stopType": "dropoff",
                          "estimatedDates": {
                            "startAt": {
                              "dateTime": "2026-04-23T09:00:00.000Z",
                              "timeZone": "America/New_York",
                              "isDateOnly": false
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Order load stop dates updated successfully"
                }
              }
            }
          },
          "400": {
            "description": "Receiver rejected the webhook as invalid. Owlery logs the failed delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "invalidPayload": {
                    "summary": "Invalid payload",
                    "value": {
                      "error": "Bad Request",
                      "message": "Missing required field: orderNumber",
                      "details": [
                        "orderNumber is required"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Receiver rejected the webhook because custom authentication headers were missing or invalid. Owlery logs the failed delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": "Unauthorized",
                      "message": "Invalid webhook signature or API key"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Receiver failed while processing the webhook. Owlery logs the failed delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "receiverError": {
                    "summary": "Receiver error",
                    "value": {
                      "error": "Internal Server Error",
                      "message": "Unable to process order load stop date webhook"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/invoices-updated": {
      "post": {
        "x-webhook": true,
        "tags": [
          "shipper-webhooks"
        ],
        "summary": "Invoices Updated",
        "description": "Webhook payload sent when invoices are created or updated in Owlery. Sent when invoices are created or modified, when invoice status changes (e.g., from unpaid to paid), or when invoices are associated with loads.",
        "operationId": "webhookInvoicesUpdated",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceWebhook"
                }
              },
              "example": [
                {
                  "invoiceNumber": "INV-2024-001",
                  "loadNumbers": [
                    "LOAD-12345",
                    "LOAD-12346"
                  ],
                  "invoicedAt": "2024-01-15T10:30:00Z",
                  "dueAt": "2024-02-15T23:59:59Z",
                  "total": 250000,
                  "currencyCode": "USD",
                  "status": "unpaid",
                  "lineItems": [
                    {
                      "description": "Line haul from Chicago to New York",
                      "category": "lineHaul",
                      "total": 200000,
                      "code": "LH001",
                      "unitCount": 1,
                      "unitPrice": 200000,
                      "unitOfMeasure": "shipment",
                      "weight": {
                        "value": 15000,
                        "unit": "lb"
                      },
                      "class": "70"
                    },
                    {
                      "description": "Fuel surcharge",
                      "category": "fuelSurcharge",
                      "total": 25000,
                      "code": "FSC"
                    }
                  ],
                  "parties": {
                    "shipper": {
                      "name": "ABC Manufacturing",
                      "location": {
                        "street": "123 Industrial Blvd",
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    },
                    "consignees": [
                      {
                        "name": "XYZ Distribution",
                        "location": {
                          "street": "456 Commerce St",
                          "city": "New York",
                          "state": "NY",
                          "zipcode": "10001",
                          "countryCode": "US"
                        }
                      }
                    ],
                    "billTo": {
                      "name": "ABC Manufacturing",
                      "location": {
                        "street": "123 Industrial Blvd",
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    }
                  },
                  "referenceNumbers": [
                    {
                      "type": "BOL",
                      "value": "BOL-12345"
                    },
                    {
                      "type": "PO",
                      "value": "PO-67890"
                    }
                  ],
                  "notes": [
                    "Rush delivery requested"
                  ]
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Invoices updated successfully"
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/invoices": {
      "post": {
        "tags": [
          "carrier-invoices"
        ],
        "summary": "Submit Invoices",
        "description": "This endpoint allows brokers to submit invoices directly to Owlery. The source system is determined from the broker profile associated with the API key.",
        "operationId": "submitInvoices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceSubmission"
                }
              },
              "example": [
                {
                  "invoiceNumber": "INV-2024-001",
                  "loadNumber": "LOAD-12345",
                  "invoicedAt": "2024-01-15T10:30:00Z",
                  "dueAt": "2024-02-15T23:59:59Z",
                  "total": 250000,
                  "currencyCode": "USD",
                  "status": "unpaid",
                  "lineItems": [
                    {
                      "description": "Line haul from Chicago to New York",
                      "category": "lineHaul",
                      "total": 200000,
                      "currencyCode": "USD",
                      "unitCount": 1,
                      "unitPrice": 200000,
                      "unitOfMeasure": "shipment",
                      "weight": {
                        "value": 15000,
                        "unit": "lb"
                      },
                      "class": "70",
                      "code": "LH001"
                    },
                    {
                      "description": "Fuel surcharge",
                      "category": "fuelSurcharge",
                      "total": 25000,
                      "currencyCode": "USD",
                      "code": "FSC"
                    }
                  ],
                  "parties": {
                    "shipper": {
                      "name": "ABC Manufacturing",
                      "location": {
                        "street": "123 Industrial Blvd",
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    },
                    "consignees": [
                      {
                        "name": "XYZ Distribution",
                        "location": {
                          "street": "456 Commerce St",
                          "city": "New York",
                          "state": "NY",
                          "zipcode": "10001",
                          "countryCode": "US"
                        }
                      }
                    ],
                    "billTo": {
                      "name": "ABC Manufacturing",
                      "location": {
                        "street": "123 Industrial Blvd",
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    }
                  },
                  "referenceNumbers": [
                    {
                      "type": "BOL",
                      "value": "BOL-12345"
                    },
                    {
                      "type": "PO",
                      "value": "PO-67890"
                    }
                  ],
                  "notes": [
                    "Rush delivery requested"
                  ],
                  "isTest": false
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All invoices submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSubmissionResponse"
                },
                "example": {
                  "createdInvoices": [
                    {
                      "invoiceNumber": "INV-2024-001",
                      "id": "inv_abc123def456"
                    }
                  ],
                  "failures": []
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some invoices failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSubmissionResponse"
                },
                "example": {
                  "createdInvoices": [
                    {
                      "invoiceNumber": "INV-2024-001",
                      "id": "inv_abc123def456"
                    }
                  ],
                  "failures": [
                    {
                      "invoiceNumber": "INV-2024-002",
                      "error": "Load number LOAD-99999 not found"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/order/confirm": {
      "post": {
        "tags": [
          "facility-orders"
        ],
        "summary": "Confirm Orders",
        "description": "This endpoint confirms one or more orders, updating their status and items.",
        "operationId": "confirmOrders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderConfirmation"
                }
              },
              "example": [
                {
                  "type": "inbound",
                  "orderNumber": "SO11112",
                  "items": [
                    {
                      "sku": "CT-BL",
                      "sourceId": "LINE-001",
                      "actualQuantity": 40,
                      "damagedQuantity": 10,
                      "unitOfMeasure": "case",
                      "lotCode": "LOT-001",
                      "expirationDate": "2023-12-31"
                    }
                  ],
                  "isTest": false
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All orders confirmed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmOrderResponse"
                },
                "example": {
                  "confirmedOrderNumbers": [
                    "SO11112"
                  ],
                  "errors": []
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some orders failed to confirm",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmOrderResponse"
                },
                "example": {
                  "confirmedOrderNumbers": [
                    "SO11112"
                  ],
                  "errors": [
                    "Failed to confirm order SO11113"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmOrderResponse"
                },
                "example": {
                  "confirmedOrderNumbers": [],
                  "errors": [
                    "Order number must be provided"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/loads": {
      "post": {
        "tags": [
          "carrier-loads"
        ],
        "summary": "Create Loads",
        "description": "This endpoint allows brokers to create one or more loads in Owlery using the standardized external payload.",
        "operationId": "createLoads",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoadsRequest"
              },
              "example": {
                "loads": [
                  {
                    "loadNumber": "OWL-LOAD-1001",
                    "status": "Open",
                    "mode": "FTL",
                    "shipmentMode": "Truck",
                    "driverMode": "Solo",
                    "equipmentType": "Reefer",
                    "currencyCode": "USD",
                    "distance": {
                      "value": 725,
                      "unit": "MI"
                    },
                    "containerSettings": {
                      "containerSizeInFeet": 53
                    },
                    "priceInCents": 125000,
                    "referenceNumbers": [
                      {
                        "type": "PO",
                        "value": "PO-12345"
                      }
                    ],
                    "carrier": {
                      "dotNumber": "1234567",
                      "mcNumber": "MC998877",
                      "scac": "GRFT"
                    },
                    "reeferSettings": {
                      "minTemperature": 34,
                      "maxTemperature": 38,
                      "unit": "F",
                      "preCoolTemperature": 36,
                      "sentryMode": "Continuous"
                    },
                    "stops": [
                      {
                        "index": 0,
                        "type": "Pickup",
                        "liveDropType": "Live",
                        "timezone": "America/Chicago",
                        "orderDates": "2024-01-01T10:00:00Z",
                        "appointmentDates": "2024-01-01",
                        "facility": {
                          "name": "Origin DC",
                          "location": {
                            "street": "123 Main St",
                            "city": "Chicago",
                            "state": "IL",
                            "zipcode": "60601",
                            "countryCode": "US"
                          }
                        },
                        "items": [
                          {
                            "description": "Packaged produce",
                            "quantity": {
                              "count": 10,
                              "unit": "Pallet"
                            },
                            "weight": {
                              "value": 5000,
                              "unit": "LB"
                            },
                            "dimensions": {
                              "length": 48,
                              "width": 40,
                              "height": 72,
                              "unit": "IN"
                            },
                            "isStackable": true,
                            "isTurnable": false,
                            "class": "70",
                            "nmfcCode": "12345",
                            "cargoValue": {
                              "cents": 900000,
                              "currencyCode": "USD"
                            }
                          }
                        ],
                        "referenceNumbers": [
                          {
                            "type": "PO",
                            "value": "PO-12345"
                          }
                        ]
                      },
                      {
                        "index": 1,
                        "type": "Dropoff",
                        "liveDropType": "Live",
                        "timezone": "America/Chicago",
                        "orderDates": "2024-01-02",
                        "estimatedDates": "2024-01-02T15:00:00Z",
                        "facility": {
                          "name": "Destination DC",
                          "location": {
                            "street": "456 Commerce Ave",
                            "city": "Dallas",
                            "state": "TX",
                            "zipcode": "75201"
                          }
                        },
                        "items": [
                          {
                            "description": "Packaged produce",
                            "quantity": {
                              "count": 10,
                              "unit": "Pallet"
                            },
                            "weight": {
                              "value": 5000,
                              "unit": "LB"
                            },
                            "dimensions": {
                              "length": 48,
                              "width": 40,
                              "height": 72,
                              "unit": "IN"
                            },
                            "isStackable": true,
                            "isTurnable": false,
                            "class": "70",
                            "nmfcCode": "12345",
                            "cargoValue": {
                              "cents": 900000,
                              "currencyCode": "USD"
                            }
                          }
                        ],
                        "referenceNumbers": [
                          {
                            "type": "BOL",
                            "value": "BOL-67890"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All loads created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoadsResponse"
                },
                "example": {
                  "createdLoads": [
                    {
                      "loadNumber": "OWL-LOAD-1001"
                    }
                  ],
                  "failures": []
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some loads failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoadsResponse"
                },
                "example": {
                  "createdLoads": [
                    {
                      "loadNumber": "OWL-LOAD-1001"
                    }
                  ],
                  "failures": [
                    {
                      "loadNumber": "OWL-LOAD-1002",
                      "error": "Stop 0 orderDates.startAt must be a valid ISO8601 date"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/loads/tracking": {
      "post": {
        "tags": [
          "carrier-tracking"
        ],
        "summary": "Tracking Updated",
        "description": "Push tracking status of a load to Owlery. The `at` field represents when the tracking event occurred or when the status changed (event metadata). For `AppointmentScheduled` status, the `appointment` field contains the actual appointment time range.",
        "operationId": "trackingUpdated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TrackingStatus"
                }
              },
              "example": [
                {
                  "loadNumber": "LOAD-12345",
                  "status": "InTransit",
                  "at": "2025-01-29T05:15:02.254Z",
                  "stopIndex": 0,
                  "location": {
                    "street": "123 Main St",
                    "city": "Los Angeles",
                    "state": "CA",
                    "zipcode": "90001",
                    "countryCode": "US"
                  }
                },
                {
                  "loadNumber": "LOAD-12345",
                  "status": "AppointmentScheduled",
                  "at": "2025-01-15T15:00:00.000Z",
                  "stopIndex": 1,
                  "appointment": {
                    "startAt": "2025-01-30T08:00:00.000Z",
                    "endAt": "2025-01-30T10:00:00.000Z"
                  },
                  "location": {
                    "street": "456 Second Ave",
                    "city": "New York",
                    "state": "NY",
                    "zipcode": "10001",
                    "countryCode": "US"
                  }
                },
                {
                  "loadNumber": "LOAD-67890",
                  "status": "DroppedOff",
                  "at": "2025-02-01T05:15:02.254Z",
                  "stopIndex": 1,
                  "location": {
                    "street": "123 Main St",
                    "city": "Los Angeles",
                    "state": "CA",
                    "zipcode": "90001",
                    "countryCode": "US"
                  }
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All tracking statuses processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingSuccessResponse"
                },
                "example": {
                  "success": [
                    "1228832",
                    "1334833"
                  ]
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some load numbers not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingPartialResponse"
                },
                "example": {
                  "success": [
                    "1228832"
                  ],
                  "missing": [
                    "1334833"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/tenders/accept": {
      "post": {
        "tags": [
          "carrier-tender-responses"
        ],
        "summary": "Accept Tender",
        "description": "Accept a tender or tender edit that Owlery sent to the carrier. Identify the shipment using the Owlery `loadNumber` from the carrier tender or tender edit webhook.",
        "operationId": "acceptCarrierTender",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierTenderAcceptRequest"
              },
              "example": {
                "loadNumber": "LOAD-12345",
                "proNumber": "PRO-456789",
                "trackingUrl": "https://carrier.example.com/track/PRO-456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tender or tender edit accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierTenderResponse"
                },
                "example": {
                  "loadNumber": "LOAD-12345",
                  "status": "accepted"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required field: loadNumber"
                }
              }
            }
          },
          "404": {
            "description": "Tender not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Not Found",
                  "message": "Tender not found for loadNumber=LOAD-12345"
                }
              }
            }
          }
        }
      }
    },
    "/api/ext/v1/tenders/reject": {
      "post": {
        "tags": [
          "carrier-tender-responses"
        ],
        "summary": "Reject Tender",
        "description": "Reject a tender or tender edit that Owlery sent to the carrier. Identify the shipment using the Owlery `loadNumber` from the carrier tender or tender edit webhook.",
        "operationId": "rejectCarrierTender",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierTenderRejectRequest"
              },
              "example": {
                "loadNumber": "LOAD-12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tender or tender edit rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierTenderResponse"
                },
                "example": {
                  "loadNumber": "LOAD-12345",
                  "status": "rejected"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required field: loadNumber"
                }
              }
            }
          },
          "404": {
            "description": "Tender not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Not Found",
                  "message": "Tender not found for loadNumber=LOAD-12345"
                }
              }
            }
          }
        }
      }
    },
    "/carrier-webhooks/rate-quote": {
      "post": {
        "x-webhook": true,
        "tags": [
          "carrier-webhooks"
        ],
        "summary": "Rate Quote Requested",
        "description": "Webhook sent by Owlery to a carrier when Owlery requests rates. The request body itself is the rate quote request. Owlery sends carrier-configured authentication headers with this request. The carrier should use those headers to identify the shipper/account context. Return `200 OK` to acknowledge receipt only. Submit all quote responses asynchronously to `POST /api/ext/v1/rate-quote/responses`; Owlery does not process quote results from the webhook response body.",
        "operationId": "carrierWebhookRateQuoteRequested",
        "security": [
          {
            "CarrierWebhookAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierWebhookRateQuoteRequest"
              },
              "example": {
                "id": "RQ-0042",
                "equipmentType": "Reefer",
                "reeferSettings": {
                  "minTemperature": 34,
                  "maxTemperature": 38,
                  "unit": "F",
                  "sentryMode": "Continuous"
                },
                "stops": [
                  {
                    "type": "Pickup",
                    "facility": {
                      "name": "Origin Warehouse",
                      "location": {
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    },
                    "dates": {
                      "startAt": "2026-06-01T08:00:00Z",
                      "endAt": "2026-06-01T10:00:00Z"
                    },
                    "items": [
                      {
                        "description": "Frozen prepared meals",
                        "quantity": {
                          "count": 10,
                          "unit": "Pallet"
                        },
                        "weight": {
                          "value": 1200,
                          "unit": "LB"
                        },
                        "cargoValue": {
                          "cents": 2500000,
                          "currencyCode": "USD"
                        }
                      }
                    ]
                  },
                  {
                    "type": "Dropoff",
                    "facility": {
                      "name": "Destination DC",
                      "location": {
                        "zipcode": "10001",
                        "countryCode": "US"
                      }
                    },
                    "dates": {
                      "startAt": "2026-06-03T08:00:00Z",
                      "endAt": "2026-06-03T12:00:00Z"
                    },
                    "liveDropType": "drop"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook acknowledged. Do not return quote data in this response; submit all quote responses asynchronously to Owlery."
          },
          "400": {
            "description": "Receiver rejected the webhook as invalid. Owlery logs the failed delivery and may retry according to the configured delivery policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required field: id"
                }
              }
            }
          },
          "401": {
            "description": "Receiver rejected the webhook because authentication headers were missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid webhook signature or API key"
                }
              }
            }
          },
          "500": {
            "description": "Receiver failed while processing the webhook. Owlery logs the failed delivery and may retry according to the configured delivery policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "message": "Unable to process webhook"
                }
              }
            }
          }
        }
      }
    },
    "/carrier-webhooks/tender": {
      "post": {
        "x-webhook": true,
        "tags": [
          "carrier-webhooks"
        ],
        "summary": "Tender Requested",
        "description": "Webhook sent by Owlery to tender a shipment to a carrier. Owlery sends `loadNumber`; carriers should use that Owlery load number when accepting or rejecting the tender and when later referencing tracking, invoices, and documents for this load. Owlery sends carrier-configured authentication headers with this request. The carrier should use those headers to identify the shipper/account context.",
        "operationId": "carrierWebhookTenderRequested",
        "security": [
          {
            "CarrierWebhookAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierWebhookTenderRequest"
              },
              "example": {
                "rateQuote": {
                  "id": "RQ-0042",
                  "carrierQuoteId": "carrier-quote-789"
                },
                "loadNumber": "LOAD-12345",
                "mode": "FTL",
                "equipmentType": "Reefer",
                "reeferSettings": {
                  "minTemperature": 34,
                  "maxTemperature": 38,
                  "unit": "F",
                  "sentryMode": "Continuous"
                },
                "stops": [
                  {
                    "type": "Pickup",
                    "facility": {
                      "name": "Origin Warehouse",
                      "location": {
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US",
                        "street": "123 W Fulton Market"
                      }
                    },
                    "dates": {
                      "startAt": "2026-06-01T08:00:00Z",
                      "endAt": "2026-06-01T10:00:00Z"
                    },
                    "items": [
                      {
                        "description": "Frozen prepared meals",
                        "quantity": {
                          "count": 10,
                          "unit": "Pallet"
                        },
                        "weight": {
                          "value": 1200,
                          "unit": "LB"
                        }
                      }
                    ]
                  },
                  {
                    "type": "Dropoff",
                    "facility": {
                      "name": "Destination DC",
                      "location": {
                        "zipcode": "10001",
                        "countryCode": "US",
                        "street": "456 9th Ave",
                        "city": "New York",
                        "state": "NY"
                      }
                    },
                    "dates": {
                      "startAt": "2026-06-03T08:00:00Z",
                      "endAt": "2026-06-03T12:00:00Z"
                    },
                    "liveDropType": "drop"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierWebhookAck"
                },
                "example": {
                  "message": "Tender received"
                }
              }
            }
          },
          "400": {
            "description": "Receiver rejected the webhook as invalid. Owlery logs the failed delivery and may retry according to the configured delivery policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Bad Request",
                  "message": "Missing required field: rateQuote.id"
                }
              }
            }
          },
          "401": {
            "description": "Receiver rejected the webhook because authentication headers were missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid webhook signature or API key"
                }
              }
            }
          },
          "500": {
            "description": "Receiver failed while processing the webhook. Owlery logs the failed delivery and may retry according to the configured delivery policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "message": "Unable to process webhook"
                }
              }
            }
          }
        }
      }
    },
    "/carrier-webhooks/tender-edit": {
      "post": {
        "x-webhook": true,
        "tags": [
          "carrier-webhooks"
        ],
        "summary": "Tender Edited",
        "description": "Webhook sent by Owlery when a tendered load changes. This same payload is used for load edits after the carrier already knows the load. The payload is a full replacement view of the current tender/load details; carriers should update their shipment using `loadNumber` as the identifier. If the carrier must accept or reject the edit, call the existing accept or reject endpoint with that same `loadNumber`.",
        "operationId": "carrierWebhookTenderEdited",
        "security": [
          {
            "CarrierWebhookAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierWebhookTenderEditRequest"
              },
              "example": {
                "loadNumber": "LOAD-12345",
                "mode": "FTL",
                "equipmentType": "Reefer",
                "reeferSettings": {
                  "minTemperature": 34,
                  "maxTemperature": 38,
                  "unit": "F",
                  "sentryMode": "Continuous"
                },
                "stops": [
                  {
                    "type": "Pickup",
                    "facility": {
                      "name": "Origin Warehouse",
                      "location": {
                        "street": "123 W Fulton Market",
                        "city": "Chicago",
                        "state": "IL",
                        "zipcode": "60601",
                        "countryCode": "US"
                      }
                    },
                    "dates": {
                      "startAt": "2026-06-01T09:00:00Z",
                      "endAt": "2026-06-01T11:00:00Z"
                    },
                    "items": [
                      {
                        "description": "Frozen prepared meals",
                        "quantity": {
                          "count": 10,
                          "unit": "Pallet"
                        },
                        "weight": {
                          "value": 1200,
                          "unit": "LB"
                        }
                      }
                    ]
                  },
                  {
                    "type": "Dropoff",
                    "facility": {
                      "name": "Destination DC",
                      "location": {
                        "street": "456 9th Ave",
                        "city": "New York",
                        "state": "NY",
                        "zipcode": "10001",
                        "countryCode": "US"
                      }
                    },
                    "dates": {
[...]
